<div class="min-h-screen flex flex-col" id="signin-form">
    <div class="flex-grow flex items-center justify-center bg-gray-100">
        <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
            {% block title %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% if error %}
                <div class="container mx-auto pt-4">
                    <div id="username-error" class="text-red-500 text-sm">{{ error }}</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>